In [133]:
import pandas as pd
import numpy as np
import os
import datetime

In [134]:
pd.set_option('display.max_rows', 500)

In [135]:
def pull_data(path, year_start, year_end):
    files = os.listdir(path)
    years = [i for i in range(year_start,year_end+1)]
    dfs = []
    for file in files:
        file_no_extension = file.split('.')[0]
        year = int(file_no_extension.split('_')[1])
        if year in years:
            path_file = path+file
            dfs.append(pd.read_csv(path_file, low_memory=False, encoding_errors='ignore'))
    df = pd.concat(dfs)
    return df

In [136]:
path = '.\\data\\real_data\\listings\\Listings_2021.zip'
print(path)

.\data\real_data\listings\Listings_2021.zip

In [137]:
path = '.\\data\\real_data\\loans\\Loans_2021.zip'
print(path)

.\data\real_data\loans\Loans_2021.zip

In [138]:
path = '..\\data\\real_data\\listings\\'
year_start = 2021
year_end = 2022
listings_df = pull_data(path,year_start, year_end)
listings_df = listings_df[~listings_df['loan_origination_date'].isna()]
listings_df['loan_origination_date'] = listings_df['loan_origination_date'].apply(lambda x: datetime.datetime.strptime(str(x), "%Y-%m-%d %H:%M:%S"))

In [139]:
path = '..\\data\\real_data\\loans\\'
year_start = 2021
year_end = 2022
loans_df = pull_data(path,year_start, year_end)
loans_df = loans_df.reset_index(drop=True)
loans_df['origination_date'] = loans_df['origination_date'].apply(lambda x: datetime.datetime.strptime(str(x), "%Y-%m-%d %H:%M:%S"))

In [140]:
listings_df.dtypes.value_counts()

float64           514
int64             329
object             17
bool                4
datetime64[ns]      1
dtype: int64

In [141]:
loans_df.dtypes.value_counts()

float64           10
int64              6
object             4
datetime64[ns]     1
bool               1
dtype: int64

In [142]:
listing_summary_df= listings_df.describe(include='all').T
listing_summary_df['dtypes'] = listings_df.dtypes
loans_summary_df= loans_df.describe(include='all').T
loans_summary_df['dtypes'] = loans_df.dtypes

C:\Users\vinee\AppData\Local\Temp/ipykernel_2792/1938550275.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  listing_summary_df= listings_df.describe(include='all').T
C:\Users\vinee\AppData\Local\Temp/ipykernel_2792/1938550275.py:3: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  loans_summary_df= loans_df.describe(include='all').T

In [143]:
listing_summary_df

,count,unique,top,freq,first,last,mean,std,min,25%,50%,75%,max,dtypes
member_key,99468,97458,CF7B3723100487553FB7F2B,4,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,object
listing_number,99468.0,NaN,NaN,NaN,NaT,NaT,12330607.742088,208603.418433,11757272.0,12193048.0,12369730.0,12498490.5,12650802.0,int64
credit_pull_date,0.0,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,float64
listing_start_date,99468,99467,2021-01-03 11:04:40.340000000,2,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,object
listing_end_date,99468,99367,2021-02-28 11:00:32.380000000,4,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,object
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TUFicoDate,99468,99433,2021-01-01 12:32:36.4330000,3,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,object
dti_wprosper_loan,99468.0,NaN,NaN,NaN,NaT,NaT,10.284005,3170.722302,0.0079,0.1443,0.2141,0.3001,1000000.0,float64
CoBorrowerApplication,99468,2,False,96624,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bool
CombinedDtiwProsperLoan,2844.0,NaN,NaN,NaN,NaT,NaT,0.210233,0.108443,0.0089,0.12815,0.18985,0.2741,0.6437,float64
CombinedStatedMonthlyIncome,2844.0,NaN,NaN,NaN,NaT,NaT,11842.039616,6490.440627,2375.75,7877.0625,10583.3333,14020.1667,100000.0,float64

In [144]:
loans_summary_df

,count,unique,top,freq,first,last,mean,std,min,25%,50%,75%,max,dtypes
loan_number,92149.0,NaN,NaN,NaN,NaT,NaT,1593014.223877,54519.550538,1492256.0,1547663.0,1595170.0,1638337.0,1694682.0,int64
amount_borrowed,92149.0,NaN,NaN,NaN,NaT,NaT,12792.596111,8123.664055,2000.0,6500.0,10000.0,16500.0,40000.0,int64
borrower_rate,92149.0,NaN,NaN,NaN,NaT,NaT,0.136972,0.049459,0.063,0.1024,0.1298,0.1633,0.3182,float64
prosper_rating,92149,7,A,23034,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,object
term,92149.0,NaN,NaN,NaN,NaT,NaT,46.23768,11.869952,36.0,36.0,36.0,60.0,60.0,int64
age_in_months,92149.0,NaN,NaN,NaN,NaT,NaT,8.188065,3.395829,3.0,5.0,8.0,11.0,14.0,int64
origination_date,92149,252,2021-10-13 00:00:00,1030,2021-01-04,2021-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,datetime64[ns]
days_past_due,92149.0,NaN,NaN,NaN,NaT,NaT,1.573517,12.873183,0.0,0.0,0.0,0.0,289.0,int64
principal_balance,92149.0,NaN,NaN,NaN,NaT,NaT,9450.81402,7774.947033,0.0,3653.82,8179.09,13764.98,39046.58,float64
service_fees_paid,92149.0,NaN,NaN,NaN,NaT,NaT,-69.46511,60.561564,-441.32,-92.37,-52.03,-26.81,0.0,float64
principal_paid,92149.0,NaN,NaN,NaN,NaT,NaT,3315.382286,5230.097113,0.0,683.04,1439.43,3215.32,40000.0,float64
interest_paid,92149.0,NaN,NaN,NaN,NaT,NaT,865.116861,799.648109,0.0,318.63,626.39,1139.77,8636.48,float64
prosper_fees_paid,92149.0,NaN,NaN,NaN,NaT,NaT,1.119983,6.122502,0.0,0.0,0.0,0.0,165.0,float64
late_fees_paid,92149.0,NaN,NaN,NaN,NaT,NaT,0.478228,5.582524,0.0,0.0,0.0,0.0,292.5,float64
debt_sale_proceeds_received,92149.0,NaN,NaN,NaN,NaT,NaT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,float64
loan_status,92149.0,NaN,NaN,NaN,NaT,NaT,1.447362,1.080655,1.0,1.0,1.0,1.0,6.0,int64
loan_status_description,92149,5,CURRENT,78291,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,object
loan_default_reason,110.0,NaN,NaN,NaN,NaT,NaT,2.918182,0.592488,2.0,3.0,3.0,3.0,6.0,float64
loan_default_reason_description,110,4,Deceased,90,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,object
next_payment_due_date,92149,431,2022-03-15 00:00:00,3520,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,object
next_payment_due_amount,92149.0,NaN,NaN,NaN,NaT,NaT,291.928846,246.100398,0.0,103.83,256.66,421.41,1423.92,float64
co_borrower_application,92149,2,False,89450,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bool

In [145]:
dummy_dict = {}

for col in listing_summary_df.index:
    if (pd.isna(listing_summary_df.loc[col,'mean'])) & (pd.isna(listing_summary_df.loc[col,'std'])) & (listing_summary_df.loc[col,'dtypes'] != 'object'):
        dummy_dict[col] = [np.nan] * 1000
    elif listing_summary_df.loc[col,'dtypes']  in ['object','datetime64[ns]']:
        dummy_ids = listings_df[col].unique()
        dummy_dict[col] = np.random.choice(dummy_ids,1000)
    elif listing_summary_df.loc[col,'dtypes']  == 'bool':
        dummy_ids = [True,False]
        dummy_dict[col] = np.random.choice(dummy_ids,1000)
    elif listing_summary_df.loc[col,'dtypes']  in ['float64','int64'] :
        dummy_dict[col] = (listing_summary_df.loc[col,'std'] * np.random.randn(1000) + listing_summary_df.loc[col,'mean'])
    else:
        print(col)
dummy_df = pd.DataFrame(dummy_dict)
dummy_df['occupation'].fillna('Other', inplace=True)
dummy_df['prosper_rating'].fillna('A', inplace=True)
dummy_df['prosper_score'].fillna(5, inplace=True)
dummy_df.to_csv('..\\data\\dummy_data\\listings\\dummy_listings.csv', index=False)

In [146]:
left_on=['origination_date','amount_borrowed','borrower_rate','prosper_rating','term','co_borrower_application'],         

origination_date = dummy_dict['loan_origination_date']
amount_borrowed = dummy_dict['amount_funded']
borrower_rate = dummy_dict['borrower_rate']
prosper_rating = dummy_dict['prosper_rating']
term = dummy_dict['listing_term']
co_borrower_application = dummy_dict['CoBorrowerApplication']

In [147]:
dummy_dict = {}

for col in loans_summary_df.index:
    if (pd.isna(loans_summary_df.loc[col,'mean'])) & (pd.isna(loans_summary_df.loc[col,'std'])) & (loans_summary_df.loc[col,'dtypes'] != 'object'):
        dummy_dict[col] = [np.nan] * 1000
    elif loans_summary_df.loc[col,'dtypes']  in ['object','datetime64[ns]']:
        dummy_ids = loans_df[col].unique()
        dummy_dict[col] = np.random.choice(dummy_ids,1000)
    elif loans_summary_df.loc[col,'dtypes']  == 'bool':
        dummy_ids = [True,False]
        dummy_dict[col] = np.random.choice(dummy_ids,1000)
    elif loans_summary_df.loc[col,'dtypes']  in ['float64','int64'] :
        dummy_dict[col] = (loans_summary_df.loc[col,'std'] * np.random.randn(1000) + loans_summary_df.loc[col,'mean'])
    else:
        print(col)
# update key columns
dummy_dict['origination_date'] = origination_date
dummy_dict['amount_borrowed'] = amount_borrowed
dummy_dict['borrower_rate'] = borrower_rate
dummy_dict['prosper_rating'] = prosper_rating
dummy_dict['term'] = term
dummy_dict['co_borrower_application'] = co_borrower_application
dummy_df = pd.DataFrame(dummy_dict)
dummy_df['prosper_rating'].fillna('A', inplace=True)
dummy_df.to_csv('..\\data\\dummy_data\\loans\\dummy_loans.csv', index=False)

In [148]:
dummy_df.head(20)

,loan_number,amount_borrowed,borrower_rate,prosper_rating,term,age_in_months,origination_date,days_past_due,principal_balance,service_fees_paid,...,prosper_fees_paid,late_fees_paid,debt_sale_proceeds_received,loan_status,loan_status_description,loan_default_reason,loan_default_reason_description,next_payment_due_date,next_payment_due_amount,co_borrower_application
0,1.548838e+06,16241.114754,0.156561,A,29.220081,6.726271,NaN,-16.439825,-7631.534847,-37.143207,...,-4.936535,-12.712229,0.0,1.530060,COMPLETED,2.700911,PaidInFull,2022-01-03 00:00:00,508.442157,NaN
1,1.728436e+06,13982.553956,0.151099,A,44.588504,10.793384,NaN,0.749040,14712.269675,-94.821977,...,3.902752,-4.573130,0.0,2.702471,DEFAULTED,2.496003,PaidInFull,2021-07-16 00:00:00,439.736600,NaN
2,1.575304e+06,10646.621690,0.115450,C,44.078470,8.307505,NaN,-9.516162,-9067.094690,-148.573146,...,14.388651,-8.056593,0.0,1.685326,DEFAULTED,2.738041,Bankruptcy,2022-02-28 00:00:00,307.421069,NaN
3,1.621849e+06,13153.308481,0.188403,C,55.037156,6.807667,NaN,11.190629,8306.461202,-12.849097,...,6.152384,-1.207547,0.0,2.666274,DEFAULTED,3.151824,NaN,2021-03-25 00:00:00,328.646675,NaN
4,1.577599e+06,12577.932279,0.195545,AA,39.528897,7.703459,NaN,21.717722,17844.605655,21.645294,...,1.122587,-4.660950,0.0,2.974446,CURRENT,3.301683,PaidInFull,2021-08-11 00:00:00,425.496669,NaN
5,1.623144e+06,4236.748072,0.082378,E,54.071124,11.294610,NaN,5.858659,9609.376879,-49.723070,...,3.076974,-6.510209,0.0,2.584847,CHARGEOFF,3.255799,PaidInFull,2021-05-04 00:00:00,662.094689,NaN
6,1.639196e+06,18399.625743,0.222098,HR,33.649709,11.345569,NaN,17.146356,16442.319854,-201.725994,...,-2.928704,5.987446,0.0,0.702007,CHARGEOFF,3.494056,NaN,2021-03-23 00:00:00,201.178467,NaN
7,1.666918e+06,17722.762787,0.103402,A,51.371250,12.864772,NaN,-23.057416,6380.012945,-104.160679,...,7.503945,-9.298076,0.0,2.711053,CANCELLED,3.163441,Deceased,2022-02-22 00:00:00,330.681935,NaN
8,1.589744e+06,23544.727358,0.091828,AA,36.469203,6.565785,NaN,-17.843900,12600.422279,7.136069,...,9.717903,6.109892,0.0,0.465091,COMPLETED,3.564743,NaN,2021-02-19 00:00:00,106.984145,NaN
9,1.597469e+06,16164.968851,0.117310,B,39.255429,9.885274,NaN,-2.206060,5047.155114,-187.851753,...,-2.490159,-4.097888,0.0,1.139476,COMPLETED,1.722205,Bankruptcy,2021-11-03 00:00:00,725.871208,NaN
10,1.616252e+06,14287.653554,0.094608,HR,49.754786,2.594729,NaN,22.897633,12696.428953,-52.601040,...,0.961845,-4.774261,0.0,1.135938,DEFAULTED,2.359573,Deceased,2022-01-14 00:00:00,110.030266,NaN
11,1.513244e+06,32521.440632,0.176933,B,44.746471,5.818140,NaN,-6.493023,23181.365331,-160.120418,...,0.460502,-0.376692,0.0,2.512004,COMPLETED,3.035779,PartialSettlement,2022-02-21 00:00:00,410.125944,NaN
12,1.565714e+06,4433.398013,0.141000,AA,29.379665,9.805273,NaN,3.794725,6117.773089,-40.526283,...,2.407978,4.652533,0.0,1.775609,CANCELLED,2.949968,PaidInFull,2022-01-05 00:00:00,-431.964029,NaN
13,1.562917e+06,27565.864450,0.139330,B,59.326628,7.909864,NaN,-2.720883,10066.311920,14.480609,...,-3.778511,-2.238559,0.0,1.371335,CANCELLED,3.368592,NaN,2021-04-02 00:00:00,-155.090038,NaN
14,1.701590e+06,9194.874361,0.072997,AA,44.787208,5.790413,NaN,4.799457,5894.161104,-30.398181,...,-5.205096,4.474932,0.0,1.913091,CHARGEOFF,1.673150,Bankruptcy,2021-12-24 00:00:00,429.372368,NaN
15,1.643665e+06,30158.653638,0.065838,AA,42.563537,5.192564,NaN,0.997419,8748.599084,-88.040031,...,4.626513,1.095294,0.0,1.792433,CURRENT,3.040634,NaN,2022-02-26 00:00:00,397.043476,NaN
16,1.561245e+06,9620.699199,0.185681,A,44.926108,2.729748,NaN,3.037984,10875.311951,-60.209431,...,1.335379,-3.478086,0.0,0.375221,CURRENT,2.665653,NaN,2022-04-11 00:00:00,152.042706,NaN
17,1.644455e+06,13106.486149,0.093819,AA,60.057508,3.824551,NaN,1.369086,16469.386365,-77.610383,...,8.128194,19.459243,0.0,1.992441,CURRENT,3.601248,PartialSettlement,2022-02-17 00:00:00,355.295038,NaN
18,1.524748e+06,18630.519499,0.230621,B,26.939117,6.818710,NaN,-4.750251,30992.950873,-72.743559,...,8.169272,-5.734848,0.0,0.218343,CURRENT,2.187706,NaN,2021-11-18 00:00:00,361.876779,NaN
19,1.560175e+06,24041.429432,-0.013851,D,65.252385,3.392856,NaN,9.089106,-6734.162962,-43.972115,...,-6.543992,3.355158,0.0,2.322133,CHARGEOFF,2.850983,PartialSettlement,2021-12-24 00:00:00,487.582427,NaN